.gc ._contact ._letter,
.gc ._contact ._letter section {
  display: grid;
  place-content: center;
  gap: 0.8rem;
}

.gc ._contact ._letter div {
  border: 2px solid var(--gc-color10);
  border-radius: 5px;

  background-color: var(--gc-bg02);

  padding: 0.5rem 0.9rem;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;
}

.gc ._contact ._letter ._text {
  padding: 0;
}

.gc ._contact ._letter svg {
  color: var(--gc-color03);
  font-size: 1.2rem;
}

.gc ._contact ._letter input,
.gc ._contact ._letter textarea {
  background-color: transparent;

  font: var(--gc-system);
}

.gc ._contact ._letter textarea {
  padding: 0.5rem 0.9rem;
  width: -webkit-fill-available;

  resize: none;


height: 10rem;
}

.gc ._contact ._letter button {
  border: 2px solid var(--gc-color03);
  border-radius: 5px;

  padding: 0.5rem 0.9rem;

  font-weight: bold;
}

.gc ._contact ._letter button:hover {
  transition: all .5s;

  background-color: var(--gc-color03);
  color: var(--gc-color02);
}

.gc ._contact ._letter button:focus-visible {
  background-color: var(--gc-color03);
  color: var(--gc-color02);

  outline: 2px dotted var(--gc-color03);
}